[submodule "EQX.Core"]
	path = EQX.Core
	url = http://192.168.0.39:7990/scm/el/eqx.core.git
[submodule "EQX.Device"]
	path = EQX.Device
	url = http://192.168.0.39:7990/scm/el/eqx.device.git
[submodule "EQX.Motion"]
	path = EQX.Motion
	url = http://192.168.0.39:7990/scm/el/eqx.motion.git
[submodule "EQX.InOut"]
	path = EQX.InOut
	url = http://192.168.0.39:7990/scm/el/eqx.inout.git
[submodule "EQX.UI"]
	path = EQX.UI
	url = http://192.168.0.39:7990/scm/el/eqx.UI.git
[submodule "EQX.Process"]
	path = EQX.Process
	url = http://192.168.0.39:7990/scm/el/eqx.process.git
[submodule "EQX.ThirdParty"]
	path = EQX.ThirdParty
	url = http://192.168.0.39:7990/scm/el/eqx.ThirdParty.git
[submodule "EQX.Vision"]
	path = EQX.Vision
	url = http://192.168.0.39:7990/scm/el/eqx.vision.git
[submodule "EQX.VisionUI"]
	path = EQX.VisionUI
	url = http://192.168.0.39:7990/scm/el/eqx.visionui.git
