[
  {
    "Name": "XAxis",
    "EncoderResolution": 8388608,
    "HomeMethod": 17,
    "HomeOffset": 0.01,
    "HomeAcceleration": 30,
    "HomeLowVelocity": 5,
    "HomeHighVelocity": 10,
    "ReduceGearRatio": 100,
    "Pulse": 36000,
    "Unit": 1,
	AccelUnit: 1,
    "Velocity": 20.0,
    "MaxVelocity": 50.0,
    "Acceleration": 0.25,
    "Deceleration": 0.25
  },
  {
    "Name": "StageYAxis",
    "EncoderResolution": 8388608,
    "HomeMethod": 17,
    "HomeOffset": 0.01,
    "HomeAcceleration": 30,
    "HomeLowVelocity": 5,
    "HomeHighVelocity": 10,
    "ReduceGearRatio": 100,
    "Pulse": 36000,
    "Unit": 1,
	AccelUnit: 1,
    "Velocity": 20.0,
    "MaxVelocity": 50.0,
    "Acceleration": 0.25,
    "Deceleration": 0.25
  },
  {
    "Name": "Z1Axis",
    "EncoderResolution": 8388608,
    "HomeMethod": 17,
    "HomeOffset": 0.01,
    "HomeAcceleration": 30,
    "HomeLowVelocity": 5,
    "HomeHighVelocity": 10,
    "ReduceGearRatio": 100,
    "Pulse": 36000,
    "Unit": 1,
	AccelUnit: 1,
    "Velocity": 20.0,
    "MaxVelocity": 50.0,
    "Acceleration": 0.25,
    "Deceleration": 0.25
  },
  {
    "Name": "Z2Axis",
    "EncoderResolution": 8388608,
    "HomeMethod": 17,
    "HomeOffset": 0.01,
    "HomeAcceleration": 30,
    "HomeLowVelocity": 5,
    "HomeHighVelocity": 10,
    "ReduceGearRatio": 100,
    "Pulse": 36000,
    "Unit": 1,
	AccelUnit: 1,
    "Velocity": 20.0,
    "MaxVelocity": 50.0,
    "Acceleration": 0.25,
    "Deceleration": 0.25
  },
  {
    "Name": "Z3Axis",
    "EncoderResolution": 8388608,
    "HomeMethod": 17,
    "HomeOffset": 0.01,
    "HomeAcceleration": 30,
    "HomeLowVelocity": 5,
    "HomeHighVelocity": 10,
    "ReduceGearRatio": 100,
    "Pulse": 36000,
    "Unit": 1,
	AccelUnit: 1,
    "Velocity": 20.0,
    "MaxVelocity": 50.0,
    "Acceleration": 0.25,
    "Deceleration": 0.25
  },
  {
    "Name": "Z4Axis",
    "EncoderResolution": 8388608,
    "HomeMethod": 17,
    "HomeOffset": 0.01,
    "HomeAcceleration": 30,
    "HomeLowVelocity": 5,
    "HomeHighVelocity": 10,
    "ReduceGearRatio": 100,
    "Pulse": 36000,
    "Unit": 1,
	AccelUnit: 1,
    "Velocity": 20.0,
    "MaxVelocity": 50.0,
    "Acceleration": 0.25,
    "Deceleration": 0.25
  }
]
